@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .width-schedule {
    width: 100%;
  }
  @media (min-width: 768px) {
    .width-schedule {
      width: calc(50vw - 8rem);
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
